
.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialog {
    display: grid;
    grid-template-columns: 50px 50px;
}

.dialog div {
 align-self: center;
    margin: 20px;
}
.dialog a{
    color: darkblue;
    text-decoration: none;
}

.dialogTextBlock {
    padding: 10px;
}
.dialogsItems {
    padding: 10px;
}

.dialogsItems .active{

}

.messages {

}

.message {
   background: #39a3ff;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    text-align: center;
}

.dialogImage {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}